/* Common styling */
body {
    background-color: yellowgreen;
    color: #4682B4;
}

/* Bootstrap overrides */
.navbar-default {
    background-color: #33383C;
}

.navbar-default .navbar-nav > li:hover {
    background-color: cadetblue;
}

.navbar-default .navbar-nav > li > a {
    color: yellowgreen;
}

.navbar-default .navbar-nav > li > a:hover {
    color: darkslategray;
}

.navbar-default .navbar-nav > li.active {
    background-color: cadetblue;
}

.navbar-default .navbar-nav > li .active > a, .navbar-default .navbar-nav > li.active > a:visited {
    color: darkslategray;
}

.navbar-default .navbar-brand {
    color: yellowgreen;
}

/* Custom rules */
.preview-panel {
    background-color: cadetblue;
    color: white;
    font-size: 120%;
}

