<div class="container">
    <div>
        <h3>Pojedinosti o korisniku broj {{userId}}</h3>
        <hr/>
    </div>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <button ng-click="deleteItem()" class="btn btn-danger">Obriši odabrane</button>
            </div>
        </div>
        <div ng-if="userData!=null">
            <div user-info="userData"></div>
            <div user-sessions user="userId"></div>
        </div>
        <div ng-if="!userData">
            Podaci o korisniku se ne mogu trenutno prikazati...
        </div>
    </div>
</div>