Flask==0.11.1
Flask-Login==0.4.0
Flask-Restless==1.0.0b1
Flask-SQLAlchemy==2.1
Flask-SocketIO==2.8.2
Jinja2==2.8
MarkupSafe==0.23
PyJWT==1.5.0
RPi.GPIO==0.6.2
SPI-Py==1.0
SQLAlchemy==1.1.4
Werkzeug==0.11.10
argparse==1.2.1
click==6.6
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.24dev-r0
enum-compat==0.0.2
enum34==1.1.6
eventlet==0.20.0
greenlet==0.4.11
itsdangerous==0.24
mimerender==0.6.0
numpy==1.6.2
pygame==1.9.1release
python-dateutil==2.6.0
python-engineio==1.1.0
python-mimeparse==1.6.0
python-socketio==1.6.1
requests==2.12.4
six==1.10.0
smbus==1.1
virtualenv==15.0.3
wsgiref==0.1.2
xlrd==1.0.0
