<div class="container-fluid">
    <h1>List of all available keys</h1>
    <hr/>
    <div class="container">
        <div>
            Order keys by:
            <select ng-model="keys.orderProp" name="orderProp" id="orderProp">
                <option value="id">Key ID</option>
                <option value="tag_id">Tag ID</option>
                <option value="room_id">Room number</option>
            </select>
        </div>
        <hr/>
        <div ng-repeat="item in keys.list | orderBy:keys.orderProp" key-info="item"></div>
    </div>
</div>