<div class="container">
    <h1 class="col-sm-10">{{ keysSearch.title }}</h1>
    <h3 class="col-sm-10">{{ keysSearch.note }}</h3>
    <div>
        <form novalidate ng-submit="keysSearch.submit()">
            <input ng-model="keysSearch.queryset" placeholder="Enter key ID..." type="text"/>
            <button type="submit" class="btn btn-primary">Lookup</button>
            <button ng-click="keysSearch.cancel()" type="reset" class="btn btn-default">Cancel</button>
        </form>
    </div>
</div>