<div class="container-fluid">
    <div class="container">
        <div>
            Order keys by:
            <select ng-model="keys.orderProp" name="orderProp" id="orderProp">
                <option value="id">Key ID</option>
                <option value="tag_id">Tag ID</option>
                <option value="room_id">Room number</option>
            </select>
        </div>
        <hr/>
        <div ng-repeat="key in keys.list | orderBy:keys.orderProp track by $index">
            <keyInfo id="key.id" tag_id="key.tag_id" room_id="key.room_id"></keyInfo>
        </div>
    </div>
</div>