<div ng-controller="KeysLookupController as keysLookup" class="container">
    <h1 class="col-sm-10">{{ keysLookup.title }}</h1>
    <h3 class="col-sm-10">{{ keysLookup.note }}</h3>
    <div>
        <form ng-submit="keysLookup.lookup()" action="POST" novslidate>
            <input ng-model="keysLookup.queryset" placeholder="Enter key ID..." type="text"/>
            <button type="submit" class="btn btn-primary">Lookup</button>
            <button ng-click="keysLookup.cancel()" type="reset" class="btn btn-default">Cancel</button>
        </form>
    </div>
</div>