<div class="container-fluid">
    <h1>Users registered</h1>
    <hr/>
    <div class="container">
        <div>
            Order users by:
            <select ng-model="users.orderProp" name="orderProp" id="orderProp">
                <option value="id">User ID</option>
                <option value="tag_id">Tag ID</option>
                <option value="first_name">First name</option>
                <option value="last_name">Last name</option>
            </select>
        </div>
        <hr/>
        <div ng-repeat="item in users.list | orderBy:users.orderProp" user-info="item">
        </div>
    </div>
</div>