<div class="container-fluid">
    <div class="container">
        <div>
            Order keys by:
            <select ng-model="users.orderProp" name="orderProp" id="orderProp">
                <option value="id">User ID</option>
                <option value="tag_id">Tag ID</option>
                <option value="first_name">First name</option>
                <option value="last_name">Last name</option>
            </select>
        </div>
        <hr/>
        <div ng-repeat="user in users.list | orderBy:users.orderProp track by $index">
            <userInfo></userInfo>
        </div>
    </div>
</div>