<div ng-controller="RegisterKeyController as registerKey" class="container">
    <h1 class="col-sm-10">{{registerKey.title}}</h1>
    <h3 class="col-sm-10">{{registerKey.note}}</h3>
    <form novalidate ng-submit="registerKey.register()" action="POST">
        <div>
            <p>{{registerKey.extendedNote}}</p>
        </div>
        <input ng-model="registerKey.keyInfo.label" placeholder="First name" type="text"/>
        <button class="btn btn-primary">Register</button>
        <button ng-click="registerKey.cancel()" class="btn btn-danger" type="reset">Cancel</button>
    </form>
</div>