/* Common styling */
body {
    background-color: yellowgreen;
    color: #4682B4;
}

/* Bootstrap overrides */
.navbar-default {
    background-color: #33383C;
}

.navbar-default .navbar-nav > li:hover {
    background-color: cadetblue;
}

.navbar-default .navbar-nav > li > a {
    color: yellowgreen;
}

.navbar-default .navbar-nav > li > a:hover {
    color: darkslategray;
}

.navbar-default .navbar-nav > li.active {
    background-color: cadetblue;
}

.navbar-default .navbar-nav > li .active > a, .navbar-default .navbar-nav > li.active > a:visited {
    color: darkslategray;
}

.navbar-default .navbar-brand {
    color: yellowgreen;
}

/* Custom rules */
.preview-panel {
    background-color: cadetblue;
    color: white;
    font-size: 120%;
}

.drop-box-container {
    width: 250px;
    height: 250px;
}

.drop-box {
    background-color: #8c8c8c;
}

.inline-field {
    display: inline-block;
}

.user-field {
    max-width: 30%;
    padding-right: 10px;
}

.img-field {
    max-height: 150px;
    max-width: 150px;
}

.img-container {
    max-width: 165px;
}

.border-right {
    border-right-style: solid;
    border-right-color: cadetblue;
}

a.no-decoration {
    text-decoration: none;
}

#hero-img {
    height: 600px;
    background-image: url("../images/hero-01.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    /*image-orientation: 90deg;*/
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#hero-caption {
    color: white;
    text-shadow: 3px 2px grey;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    margin-top: -500px;
}