/* Common styling */
body {
    background-color: yellowgreen;
    color: #4682B4;
}

/* Bootstrap overrides */
.navbar-default {
    background-color: #33383C;
}

.navbar-default .navbar-nav > li:hover {
    background-color: cadetblue;
}

.navbar-default .navbar-nav > li > a {
    color: yellowgreen;
}

.navbar-default .navbar-nav > li > a:hover {
    color: darkslategray;
}

.navbar-default .navbar-nav > li.active {
    background-color: cadetblue;
}

.navbar-default .navbar-nav > li .active > a, .navbar-default .navbar-nav > li.active > a:visited {
    color: darkslategray;
}

.navbar-default .navbar-brand {
    color: yellowgreen;
}

/* Custom rules */
.preview-panel {
    background-color: cadetblue;
    color: white;
    font-size: 120%;
}

.drop-box-container {
    width: 250px;
    height: 250px;
}

.drop-box {
    background-color: #8c8c8c;
}

.inline-field {
    display: inline-block;
}

.user-field {
    max-width: 30%;
    padding-right: 10px;
}

.img-field {
    max-height: 150px;
    max-width: 150px;
}

.img-container {
    max-width: 165px;
}

.border-right {
    border-right-style: solid;
    border-right-color: cadetblue;
}

a.no-decoration {
    text-decoration: none;
}