/* Common styling */
body {
    /*color: #4682B4;*/
    color: #33383C;
}

/* Bootstrap overrides */
.navbar-default {
    background-color: #33383C;
}

.navbar-default .navbar-nav > li:hover {
    background-color: cadetblue;
}

.navbar-default .navbar-nav > li > a {
    color: yellowgreen;
}

.navbar-default .navbar-nav > li > a:hover {
    color: darkslategray;
}

.navbar-default .navbar-nav > li.active {
    background-color: cadetblue;
}

.navbar-default .navbar-nav > li .active > a, .navbar-default .navbar-nav > li.active > a:visited {
    color: darkslategray;
}

.navbar-default .navbar-brand {
    color: yellowgreen;
}

.panel-default, .panel-primary {
    border-color: #33383C;
    color: #33383C;
}

.panel-default > .panel-heading, .panel-primary > .panel-heading {
    border-color: #33383C;
    background-color: #33383C;
    color: yellowgreen;
}

.panel-body {
    color: #33383C;
}

/* Custom rules */
.preview-panel {
    background-color: cadetblue;
    color: white;
    font-size: 120%;
}

.drop-box-container {
    width: 250px;
    height: 250px;
}

.drop-box {
    background-color: #8c8c8c;
}

.inline-field {
    display: inline-block;
}

.padding-right {
    padding-right: 30px;
}

.padding-right-sm {
    padding-right: 10px;
}

.padding-left {
    padding-left: 30px;
}

.padding-left-sm {
    padding-left: 10px;
}

.img-field {
    max-height: 150px;
    max-width: 150px;
}

.img-container {
    max-width: 165px;
}

.border-right {
    border-right-style: solid;
    border-right-color: cadetblue;
}

.border-left {
    border-left-style: solid;
    border-left-color: cadetblue;
}

a.no-decoration {
    text-decoration: none;
}

#hero-img {
    height: 600px;
    background-image: url("../images/hero-img.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#hero-caption {
    color: white;
    text-shadow: 3px 2px grey;
    margin-top: -500px;
}

input[type="file"] {
    max-width: 100%;
}

.nav-padding-top {
    padding-top: 15px;
}