<!DOCTYPE html>
<html ng-app="appMain" lang="en">
<head>
    <base href="../static/app">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}"/>
    <script src="{{url_for('static', filename='vendor/angular/angular.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/angular-route/angular-route.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/angular-bootstrap/ui-bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='vendor/angular-bootstrap/ui-bootstrap-tpls.min.js')}}"></script>
    <script src="{{url_for('static', filename='app/app.js')}}"></script>
    <script src="{{url_for('static', filename='app/config.js')}}"></script>
    <script src="{{url_for('static', filename='app/navigation/nav.controller.js')}}"></script>
    <script src="{{url_for('static', filename='app/sessions/session.service.js')}}"></script>
    <script src="{{url_for('static', filename='app/sessions/session-info.controller.js')}}"></script>
    <script src="{{url_for('static', filename='app/sessions/sessions.controller.js')}}"></script>
</head>
<body>
<div ng-controller="NavController as navCtrl" ng-include="{{url_for('static', filename='app/navigation/navigation.html')}}">
    #navigation...
</div>

<div ng-view></div>

<div>
    #footer...
</div>
</body>
</html>