<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">{{ usersSearch.title }}</div>
        <div class="panel-body">
            <h3>{{ usersSearch.note }}</h3>
            <div class="form-group">
                <input ng-model="usersSearch.queryset" type="text" placeholder="Enter person ID..."/>
                <button ng-click="usersSearch.submit()" type="submit" class="btn btn-primary">Search</button>
                <button ng-click="usersSearch.cancel()" type="reset" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
    <hr/>
    <div users-search-results results="usersSearch.results"></div>
</div>