<div class="container">
    <div>
        <h3>User Lookup Page</h3>
        <hr/>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Users search form</div>
        <div class="panel-body">
            <h5>Check for users by entering their first name or last name</h5>
            <div class="form-group">
                <input ng-model="usersSearch.queryset" type="text" placeholder="Enter search data..."/>
                <button ng-click="usersSearch.submit()" type="submit" class="btn btn-primary">Search</button>
                <button ng-click="usersSearch.cancel()" type="reset" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
    <hr/>
    <div ng-if="usersSearch.results" users-search-results results="usersSearch.results"></div>
</div>