<div class="container-fluid">
    <h3>Registrirani korisnici</h3>
    <hr/>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <button ng-click="users.deleteSelected()" class="btn btn-danger">Obriši odabrane</button>
            </div>
        </div>
        <div>
            Poredati korisnike prema:
            <select ng-model="users.orderProp" name="orderProp" id="orderProp">
                <option value="user_id">ID korisnika</option>
                <option value="tag_id">Tag ID</option>
                <option value="role_id">Titula</option>
                <option value="first_name">Ime</option>
                <option value="last_name">Prezime</option>
                <option value="email">Email</option>
            </select>
        </div>
        <hr/>
        <div ng-repeat="item in users.list | orderBy:users.orderProp" user-info="item"></div>
    </div>
</div>