<div class="container">
    <div>
        <h3>Informacije o ključu broj {{keyId}}</h3>
        <hr/>
    </div>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <button ng-click="deleteItem()" class="btn btn-danger">Obriši označene</button>
            </div>
        </div>
        <div ng-if="keyData!=null">
            <div key-info="keyData"></div>
            <div key-sessions key="keyId"></div>
        </div>
        <div ng-if="!keyData">
            Podaci o ključu ne mogu biti prikazani...
        </div>
    </div>
</div>