<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">{{ keysSearch.title }}</div>
        <div class="panel-body">
            <h3>{{ keysSearch.note }}</h3>
            <div class="form-group">
                <input ng-model="keysSearch.queryset" placeholder="Enter room ID..." type="text"/>
                <button ng-click="keysSearch.submit()" type="submit" class="btn btn-primary">Search</button>
                <button ng-click="keysSearch.cancel()" type="reset" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div ng-if="keysSearch.result!={}" class="panel-heading">
            {{keysSearch.result.room_id}}
        </div>
    </div>
</div>