<nav ng-controller="NavController" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" class="navbar-toggle collapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ng-click="setActive(0)" ng-href="/">RFID Sessions Site Dashboard</a>
        </div>

        <div class="collapse navbar-collapse" ng-class="{'in': !navCollapsed}">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive(0) }"><a ng-click="setActive(0)" ng-href="/">Home</a></li>
                <li ng-class="{ active: isActive(1) }"><a ng-click="setActive(1)" ng-href="sessions">Sessions</a></li>
                <li ng-class="{ active: isActive(2) }"><a ng-click="setActive(2)" ng-href="sessions/1">Session 1</a></li>
                <li ng-class="{ active: isActive(3) }"><a ng-click="setActive(3)" ng-href="sessions/2">Session 2</a></li>
            </ul>
        </div>
    </div>
</nav>