<div class="container">
    <div>
        <h1>Details for user # {{userId}}</h1>
        <hr/>
    </div>
    <div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <button ng-click="deleteItem()" class="btn btn-danger">Delete selected</button>
            </div>
        </div>
        <div ng-if="userData!=null">
            <div user-info="userData"></div>
            <div user-sessions user="userId"></div>
        </div>
        <div ng-if="!userData">
            User cannot be displayed...
        </div>
    </div>
</div>