<div ng-controller="PeopleLookupController as peopleLookup" class="container">
    <h1 class="col-sm-10">{{ peopleLookup.title }}</h1>
    <h3 class="col-sm-10">{{ peopleLookup.note }}</h3>
    <div>
        <form novalidate ng-submit="peopleLookup.lookup()">
            <input ng-model="peopleLookup.queryset" type="text" placeholder="Enter person ID..."/>
            <button type="submit" class="btn btn-primary">Lookup</button>
            <button ng-click="peopleLookup.cancel()" type="reset" class="btn btn-default">Cancel</button>
        </form>
    </div>
</div>