<div ng-controller="PeopleLookupController as peopleLookup" class="container">
    <h1>{{ peopleLookup.title }}</h1>
    <h3>{{ peopleLookup.note }}</h3>
    <div>
        <form ng-submit="peopleLookup.lookup()" action="POST" novalidate>
            <input ng-model="peopleLookup.queryset" type="text" placeholder="Enter person ID..."/>
            <button type="submit" class="btnbtn-primary">Lookup</button>
            <button ng-click="peopleLookup.cancel()" type="reset" class="btnbtn-default">Cancel</button>
        </form>
    </div>
</div>